{% load staticfiles %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand pull-left" style="padding:0px">
          <img src="{% static 'img/favicon_b.png' %}" style="height:100%;padding:10px;width:auto"></a>
      <a class="navbar-brand" href="/">FolioFame</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/"><img src="{% static 'img/hindsight.ico' %}" style="height:14px"> Hindsight</a></li>
      <li><a href="/"><i class="fa fa-address-book-o" aria-hidden="true" style="color:#0084ff"></i> About</a></li>
    </ul>
  </div>
</nav>