{% extends 'base.html' %}


{% block header %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src="//twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
{% endblock header %}

{% block body %}

{% regroup symbol_line|dictsort:"rn" by rn as line_list %}

<div class="container">
    <h1>Hindsight <small><small>Best from the Past&trade;</small></small></h1>
    <h5>Check major stock performance for the past 6 months.</h5>
    <h5>Or <a href="/hsm/">try longer range</a>.</h5>

{% if messages %}
    <h1>&nbsp;</h1>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message|safe}}
    </div>
    {% endfor %}
{% endif %}

{% if pr %}
    <h1>&nbsp;</h1>
    <div class="pull-right col-xs-4 col-sm-3">
        <h1 class="panel panel-info">
            <div class="panel-heading" style="text-align:center">{{pr}}</div>
        </h1>
    </div>
    <p style="padding-top:30px">During <u>{{ds}}</u>{%if ds != de%} and <u>{{de}}</u>{%endif%}, the performance of <b>{{ss}}</b> was ranked</p>
    <h1>&nbsp;</h1>
{% endif %}

    {% include "ranking_exp.html" %}

    <h1>&nbsp;</h1>
    <p>Some <span class="btn btn-xs btn-info">A+</span> performers during <u>{{ds}}</u>{%if ds != de%} and <u>{{de}}</u>{%endif%}:</p>
    <h3>&nbsp;</h3>
    <table class="table table-hover" style="margin-bottom:100px">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Performance</th>
                <th>Symbol</th>
                <th>Security</th>
                <th>Sector</th>
            </tr>
        </thead>
        <tbody>
        {% for r in symbol_list %}
            <tr>
                <td>{% if r.symbol == ss %}<span class="btn btn-xs btn-info">{{pr}}</span>{%else%}{{r.rn|floatformat:"0"}}{%endif%}</td>
                <td>{{r.c_diff|floatformat:"0"}}%</td>
                <td>{{r.symbol}}</td>
                <td>{{r.security}}</td>
                <td>{{r.sector}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>&nbsp;</h1>
    {% if pr %}
    <h2>Try some more?</h2>
    {% else %}
    <h2>Looking for performance of a stock symbol? Which one?</h2>
    {% endif %}

    <h1>&nbsp;</h1>
    <form action="/hsd/" method="get">
        <div class="row">
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                <label for="ss">Which SP500 stock (optional)</label>
                <input type='text' class="form-control typeahead" autocomplete="off" name="ss" id="ss" data-provide="typeahead" {%if ss%}value="{{ss}}"{%else%}placeholder="SYMBOL"{%endif%} onfocus="this.setSelectionRange(0, this.value.length)"/>
            </div>
        </div>
        <div class="row">
            <h4 class="col-xs-12">During the period </h4>
        </div>
        <div class="row">
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                <label for="ds">Date you bought</label>
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" name="ds" {%if ds%}value="{{ds}}"{%else%}placeholder="MM/DD/YYYY"{%endif%} />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                <label for="de">Date you sold</label>
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" name="de" {%if de%}value="{{de}}"{%else%}placeholder="MM/DD/YYYY"{%endif%} />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Check the performance for above period</button>
            </div>
        </div>
        {% if rq %}
        <h6>&nbsp;</h6>
        <div class="row">
            <h4 class="col-xs-12">Or during the past </h4>
        </div>
        <div class="row col-xs-12">
            {% for r in rq %}
            <span class="btn btn-primary" onclick="ranged_q('{{r.link}}')">{{r.term}}</span>
            {% endfor %}
        </div>
        {% endif %}
    </form>
    <script type="text/javascript">
    function ranged_q(l) {
    	ss = $("#ss").val();
    	if (ss) {
    		l = l + ss + "/";
    	}
    	window.open(l, "_self");
    }
    $(function () {
        $('#datetimepicker6').datetimepicker({
            viewMode: 'months',
            format: 'MM/DD/YYYY',
            minDate: moment('{{SminD}}','MM/DD/YYYY'),
            maxDate: moment('{{SmaxD}}','MM/DD/YYYY'),
            daysOfWeekDisabled: [0, 6],
            useCurrent: false //Important! See issue #1075
        });
        $('#datetimepicker7').datetimepicker({
            viewMode: 'months',
            format: 'MM/DD/YYYY',
            minDate: moment('{{EminD}}','MM/DD/YYYY'),
            maxDate: moment('{{EmaxD}}','MM/DD/YYYY'),
            daysOfWeekDisabled: [0, 6],
            {% if ds %}
            useCurrent: false //Important! See issue #1075
            {% endif %}
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
    var numbers = new Bloodhound({
  	  datumTokenizer: Bloodhound.tokenizers.whitespace,
  	  queryTokenizer: Bloodhound.tokenizers.whitespace,
  	  local:  [{%for s in SP500%}"{{s}}",{%endfor%}]
  	});
 	numbers.initialize();
 	$(".typeahead").typeahead({
 	  items: 9,
 	  source:numbers.ttAdapter()
 	});
    </script>

    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>

    <div id="sline" style="height:480px;width:80%;min-width:480px">
        <svg></svg>
    </div>
<script>
nv.addGraph(function() {
	  var chart = nv.models.lineChart()
	    .useInteractiveGuideline(true)
	    .margin({right: 30})
	    ;

	  chart.xAxis
	    .axisLabel('Date')
	    .tickFormat(function(d){return d3.time.format('%m/%d/%Y')(new Date(d))})
	    ;

	  chart.yAxis
	    .axisLabel('Gain (%)')
	    .tickFormat(d3.format('.02f'))
	    ;

	  d3.select('#sline svg')
	    .datum(data_sline)
	    .transition().duration(500)
	    .call(chart)
	    ;

	  nv.utils.windowResize(chart.update);

	  return chart;
	});
var data_sline = [
	{% for s in line_list %}
	{
		key:'{{s.list.0.symbol}}',
		values:[{% for p in s.list %}
			{x:{{p.close_date}} , y:{{p.gp}} },
		{% endfor %}]
	},
	{% endfor %}
];
</script>

    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>
</div>

{% endblock body %}