{% extends 'base.html' %}


{% block header %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{% endblock header %}

{% block body %}

{% regroup symbol_line|dictsort:"symbol" by symbol as line_list %}

<div class="container">
{% if symbol_list %}
    <h1>OK, here's what happened.</h1>
    <h3>From {{ds}} to {{de}}</h3>
    <table class="table table-hover" style="margin-bottom:100px">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Symbol</th>
                <th>Performance</th>
            </tr>
        </thead>
        <tbody>
        {% for r in symbol_list %}
            <tr>
                <td>{{r.rn|floatformat:"0"}}</td>
                <td>{{r.symbol}}</td>
                <td>{{r.c_diff|floatformat:"0"}}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>&nbsp;</h3>
    <div id="sline" style="height:480px;width:80%;min-width:480px">
        <svg></svg>
    </div>
<script>
nv.addGraph(function() {
	  var chart = nv.models.lineChart()
	    .useInteractiveGuideline(true)
	    ;

	  chart.xAxis
	    .axisLabel('Date')
	    .tickFormat(function(d){return d3.time.format('%m/%d/%Y')(new Date(d))})
	    ;

	  chart.yAxis
	    .axisLabel('Gain (%)')
	    .tickFormat(d3.format('.02f'))
	    ;

	  d3.select('#sline svg')
	    .datum(data_sline)
	    .transition().duration(500)
	    .call(chart)
	    ;

	  nv.utils.windowResize(chart.update);

	  return chart;
	});
var data_sline = [
	{% for s in line_list %}
	{
		key:'{{s.grouper}}',
		values:[{% for p in s.list %}
			{x:{{p.close_date}} , y:{{p.gp}} },
		{% endfor %}]
	},
	{% endfor %}
];
</script>
{% endif %}

    <h1>Hindsight</h1>
    <h4>Makes you regret&trade;</h4>
    <h1>&nbsp;</h1>
    <form action="/" method="post">
    {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-3 col-sm-4 col-xs-6">
                <label for="ds">Month you bought</label>
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" name="ds" {%if ds%}value="{{ds}}"{%else%}placeholder="MM/YYYY"{%endif%} />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-4 col-xs-6">
                <label for="de">Month you sold</label>
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" name="de" {%if de%}value="{{de}}"{%else%}placeholder="MM/YYYY"{%endif%} />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-4 col-xs-6">
                <label for="ss">Which stock from SP500</label>
                <input type='text' class="form-control" name="ss" {%if ss%}value="{{ss}}"{%else%}placeholder="SYMBOL"{%endif%} />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <button type="submit" class="btn btn-default">Check</button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            minDate: moment('11/2002','MM/YYYY')
        });
        $('#datetimepicker7').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
    </script>
</div>

{% endblock body %}