    <a class="pull-right col-xs-12" data-toggle="modal" data-target="#rankExp" style="cursor:pointer;text-align:right">
        (How does the ranking work?)
    </a>
    <div class="modal fade" id="rankExp" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ranking of the SP500 stocks</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The stocks are compared to the peer stocks in the same period of time.
                        For an arbitrary period of time, the top 12% of the stocks are ranked <span class="btn btn-xs btn-info">A</span>.
                        The next 12% of the stocks are ranked <span class="btn btn-xs btn-info">B</span>, and so on.
                    </p>
                    <p>
                        The lower 40% of the stocks are all ranked <span class="btn btn-xs btn-info">F</span>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
